:root {
  --bg-light: #f4f4f4;
  --text-light: #111;
  --bg-dark: #0c0c0c;
  --text-dark: #e6e6e6;
  --accent: #600000;

  --bg: var(--bg-light);
  --text: var(--text-light);
}

html[data-theme="light"] {
  --bg:var(--bg-light);
  --text:var(--text-light);
}

html[data-theme="dark"] {
  --bg:var(--bg-dark);
  --text:var(--text-dark);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  font-family: 'Space Grotesk', sans-serif;
}

/* Navigation */

.timeline-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 120px 20px 160px;
}

nav a {
  color: var(--text);
  text-decoration: none;
}


.nav-links a {
  margin-right: 16px;
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease, opacity 0.3s ease;
  font-weight: 600;
  opacity: 0.6;
  gap: 32px;
}



/* Container */


/* Header */
header {
  background: #84D4F6;
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
}

footer {
  margin: 20px 0;
  text-align: center;
  opacity: 0.7;
  position: relative;
  z-index: 2;
}

p {
  color: var(--text);
  font-size: 15px;
}

/* Timeline */

.timeline-item {
  display: flex;
  align-items: center;
  gap: 12px; /* space between time and link */
}

.timeline-item time {
  display: inline-block;
  opacity: 0.6;
  font-size: 12px;
}

.timeline-item a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  transition: color 0.3s;
}


.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 9px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: color-mix(in srgb, var(--text) 20%, transparent);
}

.timeline-entry .content time {
  display: inline-block;
  margin: 0;
  color: var(--text);
  opacity: 0.6;
  font-size: 12px;
}

/* Entry */

.timeline-entry {
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
}



.timeline-entry .content p {
  margin-bottom: 12px;
  margin: 0;
  font-size: 16px;
}


.site-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1rem;
}

.theme-switch {
  justify-self: end;
}

.switch {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
}

.slider::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s, background 0.3s;
}

input:checked + .slider {
  background: #555;
}

input:checked + .slider::before {
  transform: translateX(20px);
  background: #84d4f6;
}
#memory-content {
  font-size: 15px;
  color: #ddd;
}
